{% extends "ingredients/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div id="div_1">

	<h2>{{ ingredient.name }}
		<span id='wiki_link'>
			<a href="{{ ingredient.wiki }}" target="_blank">
				<i class="fab fa-wikipedia-w"></i>
			</a>
		</span>
	</h2>
	
	<p>{{ ingredient.unit }}</p>
	
	<br>
	<h4>Related Recipes</h4>

	<ul>
		{% for recipe in recipes %}
			<li><a href="{% url 'recipe-page' recipe.recipe_id %}">{{ recipe.recipe.name }}</a></li>
		{% empty %}
			<li>No recipes.</li>
		{% endfor %}
	</ul>

	<br>
	<a href="{% url 'manage_ingredient' %}">Back to all ingredients</a>

</div>
{% endblock content %}