<!DOCTYPE html>
<html>
<head>
	<title>Ingredient Info</title>
</head>
<body>
	<h2>{{ ingredient.name }}</h2>
	<p>Id: {{ ingredient.id }}</p>
	<p>Unit: {{ ingredient.unit }}</p>
	<p>Wiki: <a href="{{ ingredient.wiki }}" target="_blank">{{ ingredient.wiki }}</a></p>


	<h2>Recipes</h2>

	<ul>
		{% for recipe in recipes %}
			<li>
				<a href="{% url 'recipe-page' recipe.recipe_id %}">{{ recipe.recipe.name }}</a></li>
		{% empty %}
			<li>No recipes.</li>
		{% endfor %}
	</ul>


	<a href="{% url 'ingredients-page' %}">Back to all ingredients</a>

</body>
</html>