{% extends "ingredients/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div id="div_1">

	<h3>{{ recipe.name }}</h3>
	<p>Serves: {{ recipe.recipe_yield }}</p>

	<br>
	<h4>Ingredients</h4>

	<ul>
		{% for ingr in recipeIngredients %}
			<li>{{ ingr.ingr.name }} {{ ingr.quantity }} 
				<a href="{% url 'ingredient-page' ingr.ingr_id %}">(i)</a></li>
			<!--li><a href="{% url 'ingredient-page' ingr.ingr_id %}">{{ ingr.ingr.name }}</a></li-->
		{% empty %}
			<li>No ingredients.</li>
		{% endfor %}
	</ul>

</div>
{% endblock content %}