{% extends "ingredients/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div id="div_1">

	<h3>{{ recipe.name }}</h3>
	<p>Serves: {{ recipe.recipe_yield }}</p>

	<br>
	<h4>Ingredients</h4>

	<ul>
		{% for ingr in recipeIngredients %}
			<li>
				{{ ingr.ingredient.name }} {{ ingr.amount }} {{ ingr.ingredientUnit }} 
				<a href="{% url 'ingredient-page' ingr.ingredient_id %}">(i)</a>
			</li>
			
		{% empty %}
			<li>No ingredients.</li>
		{% endfor %}
	</ul>

</div>
{% endblock content %}